Repository netlify/sync-labels-action, pull requests merged in 2021-12, with the labels that each got.

#2 chore: add fossa license scanning
  .github/workflows/fossa.yml
Labels: type: chore, type: bot

#4 style: format fossa file
  .github/workflows/fossa.yml
Labels: type: chore

#6 fix: add affiliations to repos query
  src/queries.ts
Labels: type: bug, automerge
